*.crf
*.o
*.d
*.axf
*.htm
*.lnp
*.map
*.dbgconf
MDK-ARM/RTE/_BYT_Radionet_IO_V2
MDK-ARM/BYT_Radionet_IO_V2.uvguix.HuyTV
*.lst
*.dep
MDK-ARM/BYT_Radionet_IO_V2
.vscode/settings.json
build/BYT_Radionet_IO_V2.bin
build/BYT_Radionet_IO_V2.elf
build/BYT_Radionet_IO_V2.hex
MDK-ARM/JLinkSettings.ini
MDK-ARM/EventRecorderStub.scvd
MDK-ARM/JLinkLog.txt
